.cid-nav {
    background-color: #2020A8;
    padding: 10px;
    padding-left: 20px;

}

.cid-nav img{
    display:inline-block;
}

.cid-nav a{
    display:inline-block;
    color: rgb(255, 255, 255);
    margin-left: 15px;

}

.cid-nav p{
    display:inline-block;
    color: rgb(255, 255, 255);
    margin-right: 15px;

}

.candidatecard{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(166, 191, 255, 0.2) 0px 8px 24px;
}

.candidatecard-topmenu{
    height: 20px;
}

.cidbadge-status{
    background-color: #2be27d;
    font: #242424;
    font-size: 12px;
    font-weight: 600;
    padding: 1px 15px;
    border-radius: 5px;
}

.candidatecard-profile{
    margin-bottom: 2px;
    height: 60px;
}

.candidatecard-profile-name{
    color: #38349F;
    font-size: 25px;
    font-weight: 600;
}

.candidatecard-profile-id{
    color: #606060;
    font-size: 12px;
    font-weight: 600;
}

.candidatecard-roles{
    overflow: hidden;
    margin-bottom: 12px;
    height: 68px;

}

.candidatecard-details{
    padding: 2px;
    height: 60px;
    margin-top: 20px;
}

.candidatecard-details-icon{
    height: 18px;
    margin-right: 10px;
}


.candidatecard-details-text{
    font-size: 12px;
    padding-left: 0px;
    padding-top: 2px;

}

.candidatecard-skills{
    overflow: hidden;
    margin-bottom: 15px;
    height: 70px;
}

.cidbadge-role li{
    list-style-type: none;
    display: inline-block;
    font: #245024;
    font-size: 13px;
    font-weight: 600;
    padding: 0px 10px 0px 1px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #f7f7f7;
    padding: 5px;
    }

.cidbadge-yellow li{
    list-style-type: none;
    display: inline-block;
    background-color: #ffe887;
    font: #242424;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    }



.candidatecard-summary{
    background-color: #F5F5FF;
    border-color: #DDDBFF;
    overflow: hidden;
    }

.candidatecard-summary-text {
    color: #1E1E1E;
    font-size: 12px;
    margin: 10px;
    height: 94px;
    overflow: hidden;
}

.candidatecard-button {
    border-color: #DDDBFF;
    margin-top: 10px;
}





.profile-name{
    color: #38349F;
    font-size: 40px;
    font-weight: 600;
}

.profile-id{
    color: #606060;
    font-size: 20px;
    font-weight: 600;
}

.profile-roles{
    margin-bottom: 15px;

}

.profile-skills{
    margin-bottom: 20px;

}

.profile-preference{
    background-color: #efefff;
    padding: 20px 20px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #38349F;

}

.profile-details-icon{
    height: 25px;
    margin-right: 10px;
}

.profile-details-text{
    padding-left: 0px;
    padding-top: 2px;

}

.profilebdg-roles li{
    list-style-type: none;
    display: inline-block;
    font: #242424;
    font-size: 13px;
    font-weight: 600;
    padding: 0px 10px 0px 1px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #f7f7f7;
    padding: 5px;
    }

.x{
 border: 0px solid red;
}
